<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular 102</title>

    <link rel="stylesheet" href="../css/angular-intro.css">
  </head>
  <!--
    Let's make our crazy invoice thingy editable!
  -->
  <body ng-app="intro" ng-controller="IntroCtrl as m">

    <main ng-cloak>
      <h1>Invoice for {{m.invoice.company}}</h1>

      <form ng-submit="m.addLineItem()">
        <table>
          <thead>
            <tr>
              <th>
                Description
              </th>
              <th colspan="2">
                Cost
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="line in m.invoice.lineItems">
              <td>
                <!--
                  OOOhhh. New things.
                  ng-model. What's it do? Glad you asked.
                  It is an Angular directive... more on directives
                  later. But basically, you can think of ng-model
                  as saying: "Hey, Angular. Bind the value of
                  line.description to this input field. Thanks!"
                -->
                <input ng-model="line.description">
              </td>
              <td>
                <input type="number" ng-model="line.cost" step="any">
              </td>
              <td>
                <!--
                  Here's another handy directive: ng-click
                  You can probably guess what it does. By
                  the way, events (such as ng-click) have
                  access to the event object via $event...

                  So, if we wanted to cancel our event, we
                  could pass it into our method:

                  m.deleteLineItem(line, $event)
                -->
                <button type="button" ng-click="m.deleteLineItem(line)">X</button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>
                Total
              </td>
              <td>
                {{m.invoice.total | currency}}
              </td>
              <td>
                <button type="submit">+</button>
              </td>
            </tr>
          </tfoot>
        </table>
      </form>

    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.min.js"></script>

    <script src="intro-2-controller.js"></script>

  </body>
</html>
